@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: burlywood;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/* Estilos para el nav-bar */
.nav-link {
  display: inline-block;
  text-decoration: #F2F2F2;
  color: #fef7f7;
}
nav a:hover{
  background-color: #f4b754;
  color: #fff;
}

.bg{
  background-image: url(../Imgs/18660631f18bd2a4205c4dc0bd84501c.jpg);
  background-color: #ffd8a8;
}

h1{
  color: #f9f9f9;
  justify-content: center;
}
/* */

/* Estilos para el menú de navegación */
.navbar-brand {
    font-size: 2rem;
    font-weight: bolder;
  }
  
.nav-link {
    font-size: 1.2rem;
    font-weight: bolder;
  }
.container{
    width: 30%;
    margin: auto;
}

.container2{
  width: 15%;
  margin: auto;
}

.space{
  width: 20%;
  margin: auto;
  visibility: hidden;
}