@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: burlywood;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/* Estilos para el nav-bar */
.nav-link {
  display: inline-block;
  text-decoration: #F2F2F2;
  color: #fef7f7;
}
nav a:hover{
  background-color: #f4b754;
  color: #fff;
}

.bg{
  background-color: #5f4633;
}

h1{
  color: #f9f9f9;
  justify-content: center;
}
/* */

/* Estilos para el menú de navegación */
.navbar-brand {
    font-size: 2rem;
    font-weight: bolder;
  }
  
.nav-link {
    font-size: 1.2rem;
    font-weight: bolder;
  }
.container{
    width: 30%;
    margin: auto;
}

.container2{
  width: 15%;
  margin: auto;
}

.space{
  width: 20%;
  margin: auto;
  visibility: hidden;
}
/* */

form, p {
  margin: 20px;
}

p.note {
  font-size: 1rem;
  color: red;
}

input, textarea {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 4px;
  font-family: 'Lato';
  width: 300px;
  margin-top: 10px;
}

label {
  width: 300px;
  font-weight: bold;
  display: inline-block;
  margin-top: 20px;
}

label span {
  font-size: 1rem;
}

label.error {
    color: red;
    font-size: 1rem;
    display: block;
    margin-top: 5px;
}

input.error, textarea.error {
    border: 1px dashed red;
    font-weight: 300;
    color: red;
}

[type="submit"], [type="reset"], button, html [type="button"] {
    margin-left: 0;
    border-radius: 0;
    color: white;
    border: none;
    font-weight: 300;
    padding: 10px 0;
    line-height: 1;
}